* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /* ### Primary */
    --green-200: hsl(148, 38%, 91%);
    --green-600: hsl(169, 82%, 27%);
    --red-color: hsl(0, 66%, 54%);
    /* ### Neutral */
    --white-color: hsl(0, 0%, 100%);
    --grey-500: hsl(186, 15%, 59%);
    --grey-900: hsl(187, 24%, 22%);

    --attribution-color: hsl(228, 45%, 44%);
}

body {
    font-size: 1rem;
    font-family: 'Karla', sans-serif;
}


main {
    position: relative;
    background-color: var(--green-200);
    padding: 7rem 0;
}

.success-state {
    position: absolute;
    margin: auto;
    background-color: var(--grey-900);
    left: 50%;
    top: 1rem;
    transform: translateX(-50%);
    color: white;
    padding: 1.4rem;
    border-radius: 1rem;
    animation: success .5s;
}

@keyframes success {
    0% {
        top: -50px;
        opacity: 0;
    }
    
    100% {
        opacity: 100%;
    }
}

.success-state span {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    margin-block-end: 0.8rem
}

.success-state p {
    color: var(--green-200);
    font-size: 0.8rem;
    letter-spacing: 0.5px;
}

header {
   margin-bottom: 1rem; 
   color: var(--grey-900);
}

.container {
    background-color: var(--white-color);
    width: 90%;
    margin: auto;
    padding: clamp(1.2rem, 1.4rem + 1vw, 1.6rem);
    max-width: 32rem;
    border-radius: 1rem;
}

#form-contact {
    color: var(--grey-900);
}

.error-msg {
    color: var(--red-color)
}

.field-typing.error-border { 
    border: 1.5px solid var(--red-color); 
}

.field-typing:hover {
    border: 1.5px solid var(--green-600);
}

.field-typing:focus {
    border: 1.5px solid var(--green-600);
}

.field-typing {
    outline: var(--green-600);
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0.8rem 0 0.5rem;
    border: 1px solid var(--grey-500);
    border-radius: 8px;
    cursor: pointer;
}

.wrapper-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.wrapper-name {
    display: grid;
    gap: 1rem;
}

#content-query {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.wrapper-query-content {
    display: grid;
    gap: 1rem;
    margin: 1rem 0;
}

.wrapper-query-item {
    border: 1px solid var(--grey-500);
    padding: 0 0.8rem;
    border-radius: 8px;
}

.wrapper-query-item label{
    padding: 1rem 0;
    width: 100%;
      display: flex;
    align-items: center;
    gap: 1rem;
}

.wrapper-query-item:has(input:checked) {
    background-color: var(--green-200);
    border: 1.5px solid var(--green-600);
}
input[name='query-type'] {
    display: none;
}

.check-radio {
    display: block;
    width: 13px;
    height: 13px;
    border: 1px solid #999;
    border-radius: 50%;
    background: white;
}

.wrapper-query-item:has(input:checked) .check-radio{
    background: url("./assets/images/icon-radio-selected.svg") center/cover no-repeat;
    border: none;
    width: 13px;
    height: 13px;

}


textarea {
    height: 8rem;
}

#agree {
    display: none;
}

.checkbox {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.checkmark {
    display: block;
    width: 20px;
    height: 20px;
    border: 1.5px solid #999;
    background: white;
}

#agree:checked + .checkmark {
    background: url("./assets/images/icon-checkbox-check.svg") center/cover no-repeat;
    border: none;
    width: 20px;
    height: 20px;

}

button {
    background-color: var(--green-600);
    border: none;
    padding: 1rem;
    border-radius: 0.8rem;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
}

.attribution { 
    font-size: 0.6875rem; text-align: center; 
}

.attribution a { 
    color: var(--attribution-color); 
}

.hidden {
    display: none;
}

@media (min-width: 32rem) {
    .wrapper-query-content {
        grid-template-columns: 1fr 1fr;
    }
    .wrapper-name {
        grid-template-columns: 1fr 1fr;
    }
}